﻿@{
    ViewData["Title"] = "Chaet App Page";
}

<div>
    <div class="chart-container" ng-controller="ChartCtrl">
        <div>
            <label for="time-period">Time Period</label>
            <select id="time-period" name="time-period" ng-model="period.model" ng-change="change()">
                <option ng-repeat="i in period.availableOptions" value="{{i}}">{{i}}</option>
            </select>
            <label for="start-date">Start date</label>
            <input type="date" id="start-date" name="start-date" ng-model="start_date" ng-change="change()" />
            <label for="end-date">End date</label>
            <input type="date" id="end-date" name="end-date" ng-model="end_date" ng-change="change()" />
            <input type="button" name="reset-zoom" value="Reset Zoom" title="Reset Zoom" ng-click="defaultData()" />
        </div>
        <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick" ></canvas>
    </div>
</div>

<div class="chart-container" ng-controller="AddItemCtrl">
    <div>
        <label for="newdate">Date</label>
        <input type="date" id="newdate" name="newdate" ng-model="newdate" />
        <label for="summ">Sum</label>
        <input type="number" id="summ" name="summ" value="0.00" min="0" step="0.01" ng-model="sum" />
        <input type="button" name="additemsubmit" value="Add Data" title="Add Data" ng-click="addData()" />
    </div>
</div>