﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CAE_Test_Task</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body ng-app="chartApp">
    <div class="body-content">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/angularjs/angular.js"></script>
        <script src="~/lib/angular-resource/angular-resource.js"></script>
        <script src="~/lib/Chart-js/dist/Chart.js"></script>
        <script src="~/lib/angular-chart.js/dist/angular-chart.js"></script>
        <script src="~/lib/chartjs-plugin-zoom/chartjs-plugin-zoom.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/angular-moment/angular-moment.js"></script>
        
        @*App files*@
        <script src="~/js/app/appchart.js"></script>
        <script src="~/js/app/controllers.js"></script>
        <script src="~/js/app/factoris.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/angularjs/angular.min.js"></script>
        <script src="~/lib/angular-resource/angular-resource.min.js"></script>
        <script src="~/lib/Chart-js/dist/Chart.min.js"></script>
        <script src="~/lib/angular-chart.js/dist/angular-chart.min.js"></script>
        <script src="~/lib/chartjs-plugin-zoom/chartjs-plugin-zoom.min.js"></script>
        <script src="~/lib/moment/min/locales.min.js"></script>
        <script src="~/lib/angular-moment/angular-moment.min.js"></script>

        @*App files*@
        <script src="~/js/app/appchart.js"></script>
        <script src="~/js/app/controllers.js"></script>
        <script src="~/js/app/factoris.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
